{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "parser": "typescript",
  "pluginSearchDirs": false,
  "printWidth": 100,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "overrides": [
    {
      "files": ["**/*/tsconfig.json"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
